

@media (max-width: 375px) {
  h1 {
    font-size: 24px;
  }
  a  {
    font-size: 14px;
  }
  div {
    font-size: 16px;
  }
}
img {
    

    max-width: 10%;
    width: 15px;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#main{
         /*background-color: blue; */
         width: 700px;  
         height: 100%;
       margin-left: auto;
       margin-right: auto;
       /*margin-top: -10px;*/
      }

.container {
  float: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;


}
.container h1 {
  margin-left: 25px;

}

.margenf {
    
    margin-left:  5px;
    margin-right: 5px;
}

header {
  height: 450px;
  background: url("fotosp/mapa_paises.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#header{
        background-color: #180e0b; 
        height: 50px;
      } 

  header a{
      color: #ffffff;
      text-align: center;
      /*background-color: black;*/
      padding: 5px 5px;
      margin-top: auto;
      margin-bottom: auto;
      text-decoration: none;
    }

  header a:hover{
      background-color: #56c9d6;

    }

  /*header a:active{
      background-color: #56c9d6;
    } */

  header h1{
      color: #000000;
      float: left;
      margin-top: auto;
      margin-bottom: auto;
    } 
    
  header nav{
      float: right;
      color: #ffffff;
      padding: 14px 16px;
      margin-top: auto;
      margin-bottom: auto;
    }

.flex-container {
  display: flex;
  flex-direction: column;
}

.container nav ul {
  display: flex;
  margin-right: 5px;
}
.container nav ul li + li {
  margin-left: 5px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 900;
  color: #000;
  background-color: rgba(0, 0, 80, 0.4);
  border-radius: 8px;
}
.container-small {
  width: 100%;
  height: 450px;
  padding: 0 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.vida-primero {
  background-color: rgba(128, 163, 226, 0.815);
  padding-bottom: 25px;
}
.vida {
  width: 70%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.vida h2 {
  color: #fff;
  font-size: 45px;
  font-weight: 900;
  margin: 15px 0;
}
.vida p {
  font-size: 25px;
  font-weight: 100;
  line-height: 1.68;
}
.contactame {
  text-align: center;
}
.contactame h2 {
  color: #000;
  font-size: 45px;
  font-weight: 900;
  margin: 15px 0;
}
.contactame h3 {
  margin: 10px 0;
}
.contactame p {
  font-size: 15px;
  line-height: 1.68;
  font-weight: 100;
}
form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  justify-content: center;
}
form h1 {
  text-align: center;
}
form input {
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  height: 35px;
  background-color: rgb(104, 104, 228);
  border: solid 1px #fff;
  border-radius: 8px;
}
form textarea {
  height: 70px;
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  background-color: rgb(104, 104, 228);
  border: solid 1px #fff;
  border-radius: 8px;
}
.btn {
  justify-content: center;
  margin: 10px auto 0;
}
.btn button {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background: rgb(104, 104, 228);
  cursor: pointer;
}
.btn button:hover {
  background: rgba(0, 0, 80, 0.4);
}

footer {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
  background: rgba(128, 163, 226, 0.815);
}
.circulo {
     
        
     
      opacity: 1;
      
}
.circulo .imagen {
      width: 10%;
     
      border-radius: 100%;
       opacity: 1;

}


